.circulo{
    width: 40px;
    height: 40px;
    z-index: 100;
    background:rgb(98, 110, 181);
    color:white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    animation-delay: 20s;
    transition: all ease-in-out 0.5s;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(23,22,23,1);
    -moz-box-shadow: 0px 0px 32px 0px rgba(23,22,23,1);
    box-shadow: 0px 0px 32px 0px rgba(23,22,23,1);
  }
  .texto{
    font-size: small;
  }
  .circulo .texto{
    opacity: 0;
    transition: all ease-in-out;
    padding: 1em;
  }
  .circulo:hover{
    height: 100px;
    width: 200px;
    border-radius:5px 5px 0px 0px;
  }
 .circulo:hover .texto{
    opacity: 1;
    transition: all ease-in-out .5s;
    transition-delay: 0.5s;
  }